/*TAGS*/

html,
body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #fff;
    padding: 0px 0px!important;
    color: #000;
    text-decoration: none;
    letter-spacing: -1.1px;
}

body {
    overflow-x: hidden;
}

header {
    padding-top: 60px;
}

nav {
    box-shadow: none;
    background-color: transparent;
}

section {
    padding-top: 15px;
}

h1 {
    font-weight: 700;
    font-size: 6vh;
    padding-left: 8px;
    margin-bottom: 0px;
}


h2 {
    font-weight: 600;
    font-size: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
}
p{
    font-size: 2.5vh;
    font-weight: 300;
    letter-spacing: -0.5px;
}

b{
    padding: 0px 0px 0px 5px;
    font-size: 3.3vh;
    font-weight: 600;
}

a{
    font-size: 3.5vh;
    color: #000;
    font-weight: 600;
    letter-spacing: -1.2px;
}

row{
    opacity: 0
}

/*CLASSES and IDs*/
.overlay{
    background-color: #fff;
    width: 55.5px;
    height: 55.5px;
    position: fixed;
    z-index: 1;
    opacity: 1;
    transform: scale(0);
    bottom: 50px;
    border-radius: 440px;
    transition: all .5s cubic-bezier(.77,.18,.58,0);
}

.colcol{
    opacity: 0;
}

#main{
    opacity: 0;
    
}

#serrgio-logo-img {
    width: 60px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
}

#serrgio-logo-img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

#serrgio-logo-text {
    color: #fff;
    opacity: 0;
    font-size: 3vh;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#serrgio-logo-img-id {
    position: relative;
    top: 12px;
}

#serrgio-logo-img-id:hover ~ #serrgio-logo-text {
    color: #ECECEC;
    letter-spacing: -1.3px;
    opacity: 1;
}

.more_vert {
    cursor: pointer;
    color: #000;
}

.hh-logo {
    left: 9px;
    color: #fff;
    position: absolute;
    font-size: 19px;
    font-weight: 600;
    top: 0px;
}


.portfolio-icons{
    font-size: 7vh!important;
}

/*STOCK FRAMEWORK CLASSES*/

.col{
    padding-bottom: 10px!important;
}

.card-title{
        font-size: 3vh;
}


.row{
        margin-bottom: 0px;
}

.btn-floating.btn-large i {
    line-height: 58.5px;
}

.btn-floating i {
    font-size: 1.5rem;
}

.fixed-action-btn {
    position: fixed;
    bottom: 50px;
}

.btn-large{
    font-size: 2vh;
    height: 70px;
    line-height: 67px;
}
.btn-large:hover{
    background-color: #f44336!important
}

.page-footer{
    background-color: #fff!important;
    background-position: left 159px;
    background-size: 8000px;
   /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Rainbow-diagram-ROYGBIV.svg)*/
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000000;
}

.material-tooltip{
    letter-spacing: 0px;
}

/*media-queries*/

@media (max-width: 601px){
    h1 {
        font-size:5vh;
    }
    .colcol{
            padding-top: 15px!important;
    }
    header {
    padding-top: 7px;
}
    
}
    

    
    
    
  