.navigation {
  position: absolute;
  top: 0;
  right: 0;
  & .navigation__menu-list {
    top: 110px;
    position: relative;
    font-size: 24px;
    & li {
      transition: 200ms all ease;
    }
    & li:hover {
      font-weight: bold;
    }
  }
  & .menu-button-wraper {
      transform: translateX(0px);
  }
}
